body, html, ul {
    margin: 0;
    padding: 0;
}

html {
    height: calc(100% - 9em);
}

body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    padding: 2em;
    background-color: white;
    width: calc(100% - 4em);
    position: fixed;
    bottom: 0;
}

.container {
    position: relative;
    height: 100%;
}

p {
    margin: 2em;
    text-align: justify;
    line-height: 1.6em;
}